*~
.*.swp
.DS_Store
*.retry
*.bak
desktop.ini
.ansible_vault_password
ansible.cfg
.password
*.tfstate
*.tfstate.backup
.terraform/
.temp_credentials
*.zip
*.tar.gz
.sync-config.cson
public
_book
*.pyc
.vagrant
packer.log
.venv*
.pytest_cache/
.vscode
pjs*
.aws-sam/
samconfig.toml
